body {
	background-size: auto;

}

#title {
	font-size: xx-large;
	font-style: bold;
	padding: 50px;
}

#butoncos{
	background-color: #33c3f1;
	font-family: arial;
	color: white;
	width: 250px;
	font-size: 15px;

}

#butoncos:hover {
	background-color: royalblue;
}

#butonadmin {
	background-color: white;
	font-family: arial;
	color: black;
	font-size: 15px;
	width: 100px;

}

#butonadmin:hover {
	background-color: royalblue;
}

.barasus {
	margin: auto;
	width: 70%;
	padding: 10px;
	padding-bottom: 15px;
}

.products {
	margin: auto;
	width: 70%;
	padding: 10px;
	padding-bottom: 15px;
}

.product {
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.product:hover {
	background-color: lightblue;
}

.product img{
	height: 5rem;
}

.product .subtotal {
	margin-left: 2rem;
}

.buton-sterge {
	float: right;
}
